.vehicles {
  padding-top: 60px;
}

.vehicles__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 90px 30px;
}

.car-card {
  height: 238px;
  background: #ffffff;
  border-radius: 12px;
  padding: 128px 24px 22px;
  position: relative;
}

.car-card img {
  position: absolute;
  mix-blend-mode: multiply;
}

.car-card:nth-child(1) img {
  right: 17px;
  top: -58px;
}

.car-card:nth-child(2) img {
  right: 18px;
  top: -68px;
}

.car-card:nth-child(3) img {
  right: 49px;
  top: -60px;
}

.car-card:nth-child(4) img {
  right: 22px;
  top: -81px;
}

.car-card:nth-child(5) img {
  right: 35px;
  top: -72px;
}

.car-card:nth-child(6) img {
  right: 21px;
  top: -75px;
}

.car-card h3 {
  margin: 0;
  color: var(--blue);
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -1.5px;
}

.car-card p {
  margin: 3px 0 10px;
  font-size: 16px;
}

.car-card strong {
  font-size: 16px;
  font-weight: 400;
}

.car-card strong span {
  font-weight: 600;
}

@media (max-width: 1199px) and (min-width: 768px) {

  .vehicles {
    padding-top: 30px;
  }

  .vehicles .section__title {
    letter-spacing: -2.5px;
    margin-bottom: 52px;
  }

  .vehicles__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 50px 24px;
  }

  .car-card {
    height: auto;
    padding: 105px 21px 20px;
  }

  .car-card img {
    max-width: 282px;
  }

  .car-card:nth-child(1) img {
    right: 12px;
    top: -53px;
  }

  .car-card:nth-child(2) img {
    right: 23px;
    top: -55px;
  }

  .car-card:nth-child(3) img {
    right: 30px;
    top: -49px;
  }

  .car-card:nth-child(4) img {
    right: 32px;
    top: -51px;
  }

  .car-card:nth-child(5) img {
    right: 21px;
    top: -54px;
  }

  .car-card:nth-child(6) img {
    right: 27px;
    top: -50px;
  }
}

@media (max-width: 767px) {
  .vehicles {
    padding-top: 37px;
    padding-bottom: 32px;
  }

  .vehicles .section__title {
    margin-bottom: 16px;
    letter-spacing: -2px;
  }

  .vehicles__grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .car-card {
    height: 142px;
    border-radius: 10px;
    padding: 24px 16px 12px;
    overflow: hidden;
  }

  .car-card h3 {
    max-width: 217px;
    font-size: 23px;
    line-height: 1;
    letter-spacing: -1.25px;
  }

  .car-card p {
    max-width: 160px;
    margin: 10px 0 12px;
    font-size: 15px;
    line-height: 1.15;
  }

  .car-card strong {
    font-size: 15px;
  }

  .car-card img {
    max-width: 217px;
  }

  .car-card:nth-child(1) img,
  .car-card:nth-child(2) img,
  .car-card:nth-child(3) img,
  .car-card:nth-child(4) img,
  .car-card:nth-child(5) img,
  .car-card:nth-child(6) img {
    right: -49px;
    top: 8px;
  }

  .car-card:nth-child(n + 5) {
    display: none;
  }
}